body {
    background: #F2F2F2;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#MainLogo {
    position: absolute;
    width: 306px;
    height: 51px;
    left: calc(50% - 306px/2);
    top: 135px;
}

#NiceToMeetYou {
    position: absolute;
    width: 158px;
    height: 25px;
    left: calc(50% - 158px/2 - 1px);
    top: 212px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}

#Languages {
    position: absolute;
    width: 148px;
    height: 121px;
    left: 996px;
    top: 144px;
}